{
    "presets": [
        [
            "./lib",
            {
                "modules": "cjs",
                "strictMode": false,
                "runtimeOptions": {
                    "helpers": false
                }
            }
        ]
    ]
}